@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply min-h-screen bg-slate-50 text-slate-900 antialiased;
}

main {
  @apply flex-1;
}

a {
  @apply text-brand-600 hover:text-brand-500 transition;
}

button:focus-visible,
input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  box-shadow: theme('boxShadow.focus');
  outline: none;
}
